[Desktop Entry]
Name=Tails-autostart
GenericName=Tails Startup Script
Comment=Run startup things when tails starts
Exec=/bin/bash /home/amnesia/.config/autostart/startup_mods.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Categories=System;
StartupNotify=false
